<footer>

    <div class="container-footer">
    
            <section class="container-social-media">
                    <mat-icon>facebook</mat-icon>
                    <mat-icon>facebook</mat-icon>
                    <mat-icon>facebook</mat-icon>
                    <mat-icon>facebook</mat-icon>
            </section>
    
            <section class="container-informations">
                <div>
                    <ul>
                        <li>Audiodescrição</li>
                        <li>Relação com investidores</li>
                        <li>Avisos legais</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Central de ajuda</li>
                        <li>Carreiras</li>
                        <li>Preferências de cookies</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Cartão pré-pago</li>
                        <li>Termos de uso</li>
                        <li>Informações corporativas</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Imprensa</li>
                        <li>Privacidade</li>
                        <li>Entre em contado</li>
                    </ul>
                </div>
    
            </section>
    
            <section class="container-service">
                <button>Código do serviço</button>
            </section>
    
            <section class="container-reservations">
                <span>&copy; 1997-2023 Netflix, Inc.</span>
            </section> 
    
        </div>
</footer>
