
<div class="container-carousel" >
    <button (click)="previous()" class="arrow-left control" aria-label="Previous image">&#171;</button>
    <button (click)="next()" class="arrow-right control" aria-label="Next image">&#187;</button>

    <h1 class="title-genre">{{movies[0].movieGenre | lowercase}}</h1>

    <div class="gallery-wrapper">

        <div class="gallery">

            <ng-container *ngFor="let movie of movies" >    

                <img (click)="openDialog(movie)" class="item current-item" src="{{movie.movieCover}}" alt="">
              
            </ng-container>

        </div>

    </div>

</div>