<div class="back">

    <div class="container">

        <div class="row">
            <div class="col-8 mx-auto">
                
                <iframe class="mt-5"
                    [src]="movie[0].url"
                    title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    allowfullscreen
                    >
                </iframe>
              
                <button class="btn btn-danger form-control mt-5" (click)="backHome()">Voltar</button>
            </div>

        </div>

    </div>
</div>


